* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-self: center;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #535971;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff5374;
  border-radius: 20px;
  border: 3px solid #ff5374;
}

::-moz-selection {
  background-color: #ff5374;
  color: #ffff;
}

::selection {
  background-color: #ff5374;
  color: #ffff;
}

.bg-up {
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 0;
  background: #535971;
}

.title {
  width: 50%;
  margin: 6rem auto 0;
  text-align: start;
  color: #ffff;
}

h1 {
  font-family: Staatliches;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bg-red {
  padding: 0.2rem 0.7rem 0.2rem 0;
  border-radius: 5px 20px 20px;
  background-color: #ff5374;
}

form {
  width: 50%;
  position: relative;
  background-color: #ffff;
  margin: 40px auto;
  border-radius: 20px;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  color: #535971;
  font-family: Staatliches;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-transform: uppercase;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e6e6f0;
  margin: 1rem 0;
}

label {
  color: #4e4958;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.label {
  color: #c1bccc;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

input {
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  padding: 1rem;
}

.group-1,
.group-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  width: 48%;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #535971;
  font-family: Staatliches;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.item-2,
.item-3 {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.group-3 {
  width: 46%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -2px;
}

#das,
#ate {
  background-color: #ff5374;
  padding: 0.96rem;
}

#data-2 {
  background-color: #ff5374;
  margin-bottom: 10rem;
}

.submit {
  width: 100%;
  margin-left: -4rem;
  position: absolute;
  bottom: 0;
  height: 10rem;
  background-color: #535971;
  border-radius: 0px 0px 20px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  width: 80%;
  height: 55.652px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  border: none;
  background: #ff5374;
  color: #fff;
  font-family: Staatliches;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #cc425c;
  color: #fff;
  font-size: 2rem;
}

.removeMargin {
  margin-bottom: -15px;
}

.footer {
  text-align: center;
  margin-bottom: 2rem;
  font-family: Staatliches;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.footer > a {
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffff;
  text-decoration: none;
}
